@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Roboto:wght@400;500;700&display=swap');

:root{
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body{
  background: linear-gradient(135deg, #108898, #ff6c6c);
  line-height: 1.6rem;
}

.my-img{
  max-width: 100px;
  position: fixed;
  top: 9%;
  left: 5px;
  transform: translateY(-50%);
}

.my-img img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #cbd7cd;
}


h1{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  /* padding: 20px; */
  margin: 40px 0 40px 0;
  color: rgb(244, 238, 231);
}
.gradient-text {
  background: linear-gradient(45deg, #21ddca, #96d71c); /* Replace these colors with your desired gradient */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


form{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  align-items: center;
}
#search-input{ 
width: 60%;
max-width: 400px;
padding: 13px 20px;
border-radius: 5px;
box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
border: none;
font-size: 1.5rem;
transition: all 0.2s ease-in-out;
}
#search-input:hover{
  background-color: rgb(233, 245, 255);
}

#search-btn {
  cursor: pointer;
  border: none;
  width: 30%;
  max-width: 200px;
  padding: 13px 20px;
  border-radius: 5px;
  margin-left: 5px;
  color: var(--White);
  background: var(--Dark-Slate-Grey);
  font-size: 1.5rem;
  transition: transform 0.1s ease-in-out; /* Add a transition for smooth animation */
}

#search-btn:hover {
  /* animation: vibrate 0.3s;  */
  background-color: var(--White);
  color: var(--Dark-Slate-Grey);
  font-weight: 700;
}

/* @keyframes vibrate {
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
} */

.search-results{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.search-result{
  width: 30%;
  height: 100%;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}

.search-result img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.2s ease-in-out ;
  cursor: pointer;
}

.search-result:hover img{
  opacity: 0.8;
}

.search-result a{
  text-decoration: none;
  color: var(--White);
  display: block;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
text-transform: capitalize;
background-color: var(--Tomato);
}

.button-class{
  display: block;
  text-align: center;
  width: auto;
 margin-bottom: 4rem;
  
}
#search-more-button{
  background-color: var(--Dark-Slate-Grey);
  font-size: 18px;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  color: var(--White);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
  text-align: center;
}
#search-more-button:hover{
  background-color: var(--White);
  color: var(--Dark-Slate-Grey);

}

@media screen and (max-width:774px) {
  h1{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .search-result{
    width: 45%;
    margin: 0.5rem .5rem;
    text-align: center;

  }
  
  .my-img img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 443px) {
  .search-result{
    width: 90%;
    text-align: center;
    display: block;
   margin: 0 auto;
   margin-bottom: 30px;
  }
  #search-input{ 
    width: 60%;
    padding: 13px 20px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    }
    #search-btn {
      padding: 14px 20px;
      margin-left: 6px;
      color: var(--White);
      background: var(--Dark-Slate-Grey);
      font-size: 1rem;
    }
    .my-img img{
      width: 60px;
      height: 60px;
      border-radius: 50px;
    }
}